spring:
  application:
    name: HospitalManagement
  datasource:
    url: jdbc:postgresql://localhost:5432/HOSPITAL_DB
    username: postgres
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  kafka:
    bootstrap-servers: localhost:9092

server:
  port: 8093

logging:
  level:
    com.example.HospitalManagement: INFO
    org.springframework.kafka: INFO
